body
	{
	align: center;
	background-color: #FFF5EE;
	}

#a1
	{
	text-align: center;
	border: 3px solid #643F27;
	border-radius: 8px;
	width: 170px;
	}

#a2
	{
	text-align: center;
	border: 3px solid #643F27;
	border-radius: 8px;
	width: 220px;
	}

#a3
	{
	text-align: center;
	border: 3px solid #643F27;
	border-radius: 8px;
	width: 165px;
	}

#a4
	{
	text-align: center;
	border: 3px solid #643F27;
	border-radius: 8px;
	width: 110px;
	}